.content-blog
    margin: 0 auto
    padding: 85px 0
    background-color: #e3e3e3

    .wrapper
        display: flex

    .article-box
        max-width: 750px
        width: 100%
        height: 100%
        article
            padding-bottom: 50px

        img
            margin-bottom: 40px
            max-width: 750px

        .h3
            color: #3e3d3d
            font: 700 16px/18px Montserrat
            text-transform: uppercase
            letter-spacing: 1.8px

        .subtitle
            color: #3e3d3d
            font: 14px/18px "Crimson Text"
            font-style: italic

        .blog-icons
            padding: 10px
            display: flex
            color: #818181
            font: 14px/18px "Crimson Text"
            font-style: italic
            border-bottom: 1px solid #b7b7b7
            border-top: 1px solid #b7b7b7
            span
                margin-right: 10px
        .text
            color: #3e3d3d
            font: 400 14px/25px "Crimson Text - Roman"
            letter-spacing: 1.4px
        .post-link
            padding: 10px
            cursor: pointer
            text-decoration: none
            color: #3e3d3d
            font: 400 13px/1 Montserrat
            letter-spacing: 1.47px
            width: 135px
            height: 39px
            border: 2px solid #3e3d3d
    .blog-btn
        padding-top: 75px
        text-align: center
        border-top: 1px solid #3e3d3d

        .blog-btn-elem
            width: 38px
            height: 38px
            border: 1px solid #3e3d3d
            color: #3e3d3d
            font: 14px/18px "Crimson Text"
            font-style: italic

@media screen and (max-width: 1200px)
    .content-blog
        .wrapper
            display: flex
            flex-wrap: wrap
            justify-content: center
        .article-box
            margin-bottom: 100px
        .latest-post
            display: flex
            flex-direction: column
            align-items: center

@media screen and (max-width: 768px)
    .content-blog
        .article-box
            max-width: 500px
            height: 100%
            img
                max-width: 500px

@media screen and (max-width: 576px)
    .content-blog
        .article-box
            max-width: 250px
            img
                max-width: 250px

