#header
    background-color: #ffffff
    .navbar
        display: flex
        justify-content: space-between
        align-items: center
    .header
        display: flex
        justify-content: space-between
        align-items: center


    .nav-link
        color: #aaaaaa
        font: 400 12px/50px Montserrat
        text-transform: uppercase
        text-decoration: none


@media screen and (max-width: 1200px)
    .header
        flex-direction: column
        align-items: center
