.welcom
    padding: 200px 0
    text-align: center
    position: relative
    background-image: url("../img/welcome/background.jpg")
    background-size: cover
    background-repeat: no-repeat
    p
        color: #ffffff
        font: 400 14px/50px "Crimson Text - Roman"
        letter-spacing: 1.4px
    h1
        color: #ffffff
        font: 400 36px/200px Amsdam
        text-transform: uppercase
        letter-spacing: 0.89px
        background-image: url("../img/Line2.png")
        background-repeat: no-repeat
        background-position: center
    .arrow
        position: absolute
        left: 650px
        bottom: 157px
